h1 {
  color:   #ff5722;

}

h2 {
  font-style: italic;

  color:   #f44336;
}

p {
  color:   #0097a7;
}

ul {
  color:   #0097a7;
}

body {
  background-color:  #fff176;
  text-decoration: none;
}

a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  font-weight:      bold;
  color:            #29b6f6;
  }

  a:visited {
    /* Applies to all visited links */
    text-decoration:  none;
    font-weight:      bold;
    color:             #e91e63;
    }
